---
import Layout from "../layouts/Layout.astro";
---
<Layout favicon="â”" page="About">
	<h1>Hi there.</h1>
	<p>I'm Charlie, I'm a software engineer in the USA.</p>

	<p>
		Most of the software that I have built or contributed to consists of full-stack web development, often in the context of e-commerce.
		<br/>
		I try to be pragmatic, methodical, and concise in the way that I work.
	</p>

	<p>
		Some of my work is openly available on <a href="https://github.com/charlesbjohnson" target="_blank" rel="noreferrer noopener">GitHub</a>.
		<br/>
		The rest is proprietary, please see my <a href="/cv">CV</a> if you're interested in knowing more.
	</p>

	<p>Thanks for stopping by.</p>
</Layout>
