---
import Layout from "../layouts/Layout.astro";
---
<Layout favicon="💼" logo={false} page="CV">
	<h1>CBJohnson</h1>
	<h2>Engineer of Soft Wares</h2>

	<address>
		<ul>
			<li>Charles B Johnson</li>
			<li><a href="mailto:mail@cbjohnson.info">mail@cbjohnson.info</a></li>
			<li><a href="https://github.com/charlesbjohnson" target="_blank" rel="noreferrer noopener">/charlesbjohnson</a></li>
		</ul>
	</address>
</Layout>
