---
import Layout from "../layouts/Layout.astro";
---
<Layout favicon="👋" logo={false}>
	<div class="flex flex-col items-center">
		<h1 class="text-8xl uppercase tracking-widest">CBJohnson</h1>
		<p class="text-4xl uppercase tracking-wide">Engineer of Soft Wares</p>
	</div>
</Layout>
