<div data-tldr>
Contributed to a large e-commerce codebase for a meal-kit delivery company.
</div>

<div data-screen>
Blue Apron is a meal-kit delivery company.
The engineering organization had fewer than 100 employees when I joined as a Backend Engineer on the _Consumer_ team.
I joined the _Delight_ squad but the team was later rolled into the _Engagement_ squad.
Delight's priorities were a subset of Engagement's; the former focused on customer retention while the latter prioritized retention alongside monetization.

One of the biggest challenges at Blue Apron was in maintaining the written-from-scratch e-commerce engine.
The custom-built nature of the engine allowed the storefront to be deeply integrated with fulfillment on the backend,
    but at the expense of missing standard features and coupling to vast amounts of tech debt.
With this in mind, I took ownership over _Address Management_ since it had been historically overlooked and de-prioritized.
I worked on:

- Leading the implementation of _Temporary Address Change_ for deliveries.
- Fixing design issues and bugs that had been the cause of frequent mis-deliveries.
- Coordinating with the WMS team on the backend to setup address verification before shipping label generation.

Temporary Address Change was a conceptually simple feature, it allowed customers to change the delivery address of a single order without having to change their subscription.
I implemented the backend of the feature and I was also the tech lead for the Web, iOS, and Android frontend implementations.

Aside from Address Management, I acted as a technical leader by:

- Refactoring complicated parts of the codebase that were not well-understood.
- Documenting older parts of the codebase that were not well-known.
- Offering guidance to peers in architecture/design reviews, regardless of team.
- Reviewing code to unblock peers, regardless of team.
- Mentoring junior engineers.

My experience at Blue Apron was chaotic since I joined in-between rounds of layoffs.
I shifted between several projects that started and stopped as the company's priorities changed,
    so I did not have the opportunity to complete every project that I worked on.
</div>

<div data-print>
- Owned feature development and maintenance of Address Management on the Consumer team;
    eliminated tech debt and reduced address-related CX issues by 90%.
- Built address validation reporting for 50,000,000+ addresses;
    enabled WMS team to verify addresses before shipping label generation to avoid wasted shipments.
- Participated in architecture and design reviews for all Consumer engineering projects.
</div>
