<div data-tldr>
Learned real-world {hard,soft}ware development at a company in the grain industry.
</div>

<div data-screen>
CompuWeigh is a small, mature, company that specializes in integrated hardware and software for the grain industry.
Their products are for industrial automation or logistics management.

Given that this was my first job as a software engineer, this role was more of a learning opportunity for me.
My contributions were small but I gained a solid foundation in TDD and BDD because of the rigorous culture around testing.

In one of my last projects I was able to tinker with creating a web service for a .NET Micro Framework device (akin to MicroPython or Arduino),
    which served as my introduction to web development.

*[TDD]: Test-Driven Development
*[BDD]: Behavior-Driven Development
</div>
