<div data-screen>
Firesqueak is an e-commerce consultancy that I worked with as a contractor and later as an employee.
I was a consultant for two of their clients and I also built one of the company's products.
</div>

<div data-print>
- Designed and built a Shopify app for inventory notifications targeting medium-to-large sized stores.
- Led a small team in the development, integration, and maintenance of a Shopify site for a footwear brand;
    generated $1,000,000+ of client revenue within 3 months of launch.
- Created a Shopify to ERP integration for a footwear brand;
    saved the client $250,000+ in SAP consultant fees and months of development time.
- Met with clients, wrote specifications, and estimated development effort during initial contract engagements.
</div>
