<div data-screen>
Firesqueak is an e-commerce consultancy that I worked with as a contractor and later as an employee.
I was a consultant for two of their clients and I also built one of the company's products.
</div>

<div data-print>
- Designed and built a Shopify app for inventory notifications targeting medium-to-large sized stores.
- Developed a Shopify to SAP integration for a footwear brand,
    saving the client $250,000+ in consulting fees and months of development time.
- Led a team through the development and integration of a Shopify site for a footwear brand,
    generating the client $1,000,000+ in revenue.
</div>
