<div data-tldr>
Built an e-commerce ETL pipeline for a footwear brand.
</div>

<div data-screen>
I built an ETL pipeline for the finance team of a popular, eco-friendly footwear brand.

The client operated several geographically distinct Shopify sites but needed to collect all transaction and payment data into SAP as a single source of truth for accounting.
They had a single in-house engineer and a business stakeholder that I partnered with, but otherwise I worked independently yet transparently.

In the first week I was able to create a technical spec from loose business requirements and by the following week I had a functioning V1.
I delivered well ahead-of-schedule with zero production issues.
The client saved hundreds of thousands of dollars that they would have otherwise needed to pay to SAP consultants.

*[ETL]: Extract, Transform, Load
</div>
