<div data-tldr>
Built, iterated, and maintained the frontend of an e-commerce site for a footwear brand.
</div>

<div data-screen>
I built a new Shopify site for a footwear brand that specializes in work-wear and clothing for outdoor activities.

The client had an existing e-commerce site but, due to the limitations of their platform,
    they had issues with velocity and content management.
I worked with one other Firesqueak engineer to build the Shopify theme frontend and to support the client's Shopify/SAP integration on the backend.

This project was a test of my frontend development skills, but my teammate and I divided work based on front-of-the-frontend vs back-of-the-frontend lines.
I focused on the back-of-the-frontend by:

- Configuring the build toolchain to enable the use of modern web development features while still supporting IE11.
- Selecting a minimal set of dependencies to support complex interactions without sacrificing performance.
- Implementing the site features that required non-trivial algorithms and data manipulation such as:
    - Multi-select filtering on the PLP.
    - Dynamically displaying inventory status depending on selected options on the PDP.
- Creating command-line tools to automate tasks.
- Setting up CI/CD pipelines.

I also contributed to the front-of-the-frontend by:

- Creating the component library and style guide from the designs.
- Implementing responsive layouts for the PDP and PLP.
- Ensuring that all interactive components were accessible and SEO-friendly.

The project was intense but we delivered to spec, on-time, and with no production issues.
The project was a success and we exceeded the client's expectations with the site's extensibility and robustness.

*[IE11]: Internet Explorer 11
*[PLP]: Product Listing Page
</div>
