<div data-screen>
I'm seeking opportunities as a full-stack or backend engineer.
My requirements for a new role (using terminology from [Key Values](https://www.keyvalues.com)) are:

- Open Communication
- Remote OK
- Flexible Work Arrangements
- Work/Life Balance

Are you a manager considering hiring me? [Here's a post](<%= Blog::NewManagerReadme.uri %>) to help you learn more about me.

Are you an engineer considering working with me? I [have a post](<%= Blog::NewTeammateReadme.uri %>) for you
and a [GitHub profile](<%= ::Site.github_url %>) that you can take a look at.

Please [email me](mailto:<%= ::Site.email %>) for more information.
</div>

<div data-print>
Full-stack software engineer with nearly 10 years of experience, 6 years of experience in the e-commerce space,
    and a history of delivering value across a variety of projects.
</div>
