<div data-screen>
I'm employed full-time but I'm open to part-time contract opportunities in the e-commerce space.

I've worked on several different e-commerce projects over the years.
Whether you're…

- Building out an e-commerce site
- Integrating with an e-commerce platform
- Just looking for general development support with Shopify

Feel free to [send me an email](mailto:<%= ::Site.email %>).
There's a good chance that I can deliver value to your business.
</div>

<div data-print>
Full-stack software engineer with 10 years of experience, 6 years of experience in the e-commerce space,
    and a history of delivering value across a variety of projects.
</div>
