class Work {
  static setup() {
    // Add "read more" links to TL;DRs
    for (const $experience of this.$experiences) {
      if ($experience.querySelector("article")) {
        continue;
      }

      let [$tldr, $description] = $experience.querySelectorAll("details");
      $description = $description.querySelector("summary");
      $tldr = $tldr.querySelector("p");

      $description.id = `${$experience.id}-description`;
      $tldr.insertAdjacentHTML(
        "beforeend",
        `<a href="#${$description.id}" data-hidden-for="print"><small>(read more)</small></a>`
      );
    }

    // Hide heading links in print
    for (const $anchor of this.$anchors) {
      $anchor.setAttribute("data-hidden-for", "print");
      $anchor.insertAdjacentHTML(
        "afterend",
        `<span data-hidden-for="screen">${$anchor.textContent}</span>`
      );
    }
  }

  static get $experiences() {
    return this.$page.querySelectorAll(`article[id^="experience-"]`);
  }

  static get $anchors() {
    return this.$page.querySelectorAll(
      `:is(h1, h2, h3, h4, h5, h6) a[href^="#"]`
    );
  }

  static get $page() {
    return document.querySelector(`[data-page^="Work"]`);
  }
}

window.addEventListener("DOMContentLoaded", () => Work.setup());
