class BlogPost {
  static REGEXP =
    /(?<text>\P{Extended_Pictographic}+)(?<emoji>\p{Extended_Pictographic}+)?/u;

  static setup() {
    for (const $heading of this.$headings) {
      if (!$heading.id || $heading.childElementCount > 0) {
        continue;
      }

      const match = this.REGEXP.exec($heading.textContent);

      const $template = document.createElement("template");
      $template.innerHTML = `
        <a href="#${$heading.id}">${match.groups.text.trim()}</a>
        ${match.groups.emoji ? `<span>${match.groups.emoji}</span>` : ''}
      `

      $heading.textContent = null;
      $heading.append($template.content);
    }
  }

  static get $headings() {
    return this.$page.querySelectorAll("h2, h3, h4, h5, h6");
  }

  static get $page() {
    return document.querySelector(`[data-page^="Blog::"]`);
  }
}

window.addEventListener("DOMContentLoaded", () => BlogPost.setup());
